### import

In [1]:
import pandas as pd
import plotly

In [2]:
df = pd.read_csv('data/리뷰크롤링최종합본.csv')
df.head()

        hotel  star                                             review
0  호텔 8 Hours     5  깨끗하고 위치도 좋고 구성비 좋았습니다 다만 비품이 거의 없다고 보면 돼서 챙겨가야...
1  호텔 8 Hours     4                                   너무 좋아요 잘 머물다 갑니다
2  호텔 8 Hours     5                                        적당히 잘 쉬다 가요
3  호텔 8 Hours     5                             매번 요때마다 매우 만족합니다 번창하세요
4  호텔 8 Hours     5                                        너무 편하고 좋았어요

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171670 entries, 0 to 171669
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   hotel   171670 non-null  object
 1   star    171670 non-null  int64
 2   review  171328 non-null  object
dtypes: int64(1), object(2)
memory usage: 3.9+ MB

In [4]:
df = df.dropna(how='any')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171328 entries, 0 to 171669
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   hotel   171328 non-null  object
 1   star    171328 non-null  int64
 2   review  171328 non-null  object
dtypes: int64(1), object(2)
memory usage: 5.2+ MB

### 키워드 포함 여부 확인

In [5]:
# '가성비' 확인
df['가성비'] = df.review.str.contains('가성비')
df.가성비.value_counts()

False    169137
True       2191
Name: 가성비, dtype: int64

In [6]:
# '추천' 확인
df['추천'] = df.review.str.contains('추천')
df.추천.value_counts()

False    167976
True       3352
Name: 추천, dtype: int64

In [7]:
# '출장' 확인
df['출장'] = df.review.str.contains('출장')
df.출장.value_counts()

False    169554
True       1774
Name: 출장, dtype: int64

In [8]:
# '조식' 확인
df['조식'] = df.review.str.contains('조식')
df.조식.value_counts()

False    163733
True       7595
Name: 조식, dtype: int64

In [9]:
# '무료' 확인
df['무료'] = df.review.str.contains('무료')
df.무료.value_counts()

False    170003
True       1325
Name: 무료, dtype: int64

In [10]:
# '저렴' 확인
df['저렴'] = df.review.str.contains('저렴')
df.저렴.value_counts()

False    167630
True       3698
Name: 저렴, dtype: int64

In [11]:
df.tail()

,hotel,star,review,가성비,추천,출장,조식,무료,저렴
171665,WD호텔,5,저번 주에 예약해서 잘 지내고 이번 주에도 하려고 했는데 가격이 올라버렸네요 만원 ...,False,False,False,False,False,False
171666,WD호텔,4,가격으로 봐서 모텔 수준이라 생각했는데 청결하고 괜찮네요,False,False,False,False,False,False
171667,WD호텔,5,굿 짱입니다 룸도 생각 외로 크고 깨끗하고 좋아요,False,False,False,False,False,False
171668,WD호텔,5,지방민인데 신림동에 일이 있어 가족동반으로 숙박하게 됐어요 일보는 곳과 불과 걸어...,False,False,False,True,False,False
171669,WD호텔,5,너무 훌륭합니다 하지만 전반적인 시설 분위기에 비해 조식 식사 식당은 구내식당 같은...,False,False,False,True,False,False

### 감정 라벨링

In [12]:
df['감정'] = pd.cut(df.star, bins=[-1,2,3,5], labels=[0,1,2])
df[df['star'] == 0].감정.value_counts()

0    338
1      0
2      0
Name: 감정, dtype: int64

In [17]:
df[df['star'] == 5].감정.value_counts()

2    121317
0         0
1         0
Name: 감정, dtype: int64

In [18]:
df.tail()

,hotel,star,review,가성비,추천,출장,조식,무료,저렴,감정
171665,WD호텔,5,저번 주에 예약해서 잘 지내고 이번 주에도 하려고 했는데 가격이 올라버렸네요 만원 ...,False,False,False,False,False,False,2
171666,WD호텔,4,가격으로 봐서 모텔 수준이라 생각했는데 청결하고 괜찮네요,False,False,False,False,False,False,2
171667,WD호텔,5,굿 짱입니다 룸도 생각 외로 크고 깨끗하고 좋아요,False,False,False,False,False,False,2
171668,WD호텔,5,지방민인데 신림동에 일이 있어 가족동반으로 숙박하게 됐어요 일보는 곳과 불과 걸어...,False,False,False,True,False,False,2
171669,WD호텔,5,너무 훌륭합니다 하지만 전반적인 시설 분위기에 비해 조식 식사 식당은 구내식당 같은...,False,False,False,True,False,False,2

In [20]:
df.to_csv('data/리뷰_키워드_가성비호텔.csv', index=False, encoding='utf-8-sig')

### 각 키워드의 합계 컬럼 생성

In [3]:
df = pd.read_csv('data/리뷰_키워드_가성비호텔.csv')
df.head(3)

,hotel,star,review,가성비,추천,출장,조식,무료,저렴,감정
0,호텔 8 Hours,5,깨끗하고 위치도 좋고 구성비 좋았습니다 다만 비품이 거의 없다고 보면 돼서 챙겨가야...,False,False,False,False,False,False,2
1,호텔 8 Hours,4,너무 좋아요 잘 머물다 갑니다,False,False,False,False,False,False,2
2,호텔 8 Hours,5,적당히 잘 쉬다 가요,False,False,False,False,False,False,2

In [4]:
df['가성비'] = df['가성비'].map(lambda x : 1 if x else 0)
df.가성비.value_counts()

0    169137
1      2191
Name: 가성비, dtype: int64

In [5]:
df['추천'] = df['추천'].map(lambda x : 1 if x else 0)
df.추천.value_counts()

0    167976
1      3352
Name: 추천, dtype: int64

In [6]:
df['출장'] = df['출장'].map(lambda x : 1 if x else 0)
df.출장.value_counts()

0    169554
1      1774
Name: 출장, dtype: int64

In [7]:
df['조식'] = df['조식'].map(lambda x : 1 if x else 0)
df.조식.value_counts()

0    163733
1      7595
Name: 조식, dtype: int64

In [8]:
df['무료'] = df['무료'].map(lambda x : 1 if x else 0)
df.무료.value_counts()

0    170003
1      1325
Name: 무료, dtype: int64

In [9]:
df['저렴'] = df['저렴'].map(lambda x : 1 if x else 0)
df.저렴.value_counts()

0    167630
1      3698
Name: 저렴, dtype: int64

In [10]:
df['sum'] = df[['가성비', '추천', '출장',
       '조식', '무료', '저렴']].sum(axis=1)

In [11]:
df['sum'].value_counts()

0    153173
1     16527
2      1483
3       139
4         5
5         1
Name: sum, dtype: int64

In [30]:
df.head()

,hotel,star,review,가성비,추천,출장,조식,무료,저렴,감정,sum,helpful
0,호텔 8 Hours,5,깨끗하고 위치도 좋고 구성비 좋았습니다 다만 비품이 거의 없다고 보면 돼서 챙겨가야...,0,0,0,0,0,0,2,0,0
1,호텔 8 Hours,4,너무 좋아요 잘 머물다 갑니다,0,0,0,0,0,0,2,0,0
2,호텔 8 Hours,5,적당히 잘 쉬다 가요,0,0,0,0,0,0,2,0,0
3,호텔 8 Hours,5,매번 요때마다 매우 만족합니다 번창하세요,0,0,0,0,0,0,2,0,0
4,호텔 8 Hours,5,너무 편하고 좋았어요,0,0,0,0,0,0,2,0,0

In [13]:
df.groupby(['sum']).count()

,hotel,star,review,가성비,추천,출장,조식,무료,저렴,감정
sum,,,,,,,,,,
0,153173,153173,153173,153173,153173,153173,153173,153173,153173,153173
1,16527,16527,16527,16527,16527,16527,16527,16527,16527,16527
2,1483,1483,1483,1483,1483,1483,1483,1483,1483,1483
3,139,139,139,139,139,139,139,139,139,139
4,5,5,5,5,5,5,5,5,5,5
5,1,1,1,1,1,1,1,1,1,1

### helpful 컬럼 라벨링

In [22]:
df['helpful'] = 0

In [33]:
for i in range(0,len(df)):
    if df['sum'][i] >= 1:
        df['helpful'][i] = 1
    else:
        df['helpful'][i] = 0

<ipython-input-33-62ed37abf107>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['helpful'][i] = 0
<ipython-input-33-62ed37abf107>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['helpful'][i] = 1

In [34]:
df.helpful.value_counts()

0    153173
1     18155
Name: helpful, dtype: int64

In [37]:
df.tail()

,hotel,star,review,가성비,추천,출장,조식,무료,저렴,감정,sum,helpful
171323,WD호텔,5,저번 주에 예약해서 잘 지내고 이번 주에도 하려고 했는데 가격이 올라버렸네요 만원 ...,0,0,0,0,0,0,2,0,0
171324,WD호텔,4,가격으로 봐서 모텔 수준이라 생각했는데 청결하고 괜찮네요,0,0,0,0,0,0,2,0,0
171325,WD호텔,5,굿 짱입니다 룸도 생각 외로 크고 깨끗하고 좋아요,0,0,0,0,0,0,2,0,0
171326,WD호텔,5,지방민인데 신림동에 일이 있어 가족동반으로 숙박하게 됐어요 일보는 곳과 불과 걸어...,0,0,0,1,0,0,2,1,1
171327,WD호텔,5,너무 훌륭합니다 하지만 전반적인 시설 분위기에 비해 조식 식사 식당은 구내식당 같은...,0,0,0,1,0,0,2,1,1

In [38]:
df.to_csv('data/가성비호텔_도움_라벨링.csv', encoding='utf-8-sig', index=False)

### 리뷰 텍스트 분석
- Okt, CountVectorize, LSTM

In [39]:
df['가성비'] = df['가성비'].map(lambda x : True if x else False)
df.가성비.value_counts()

False    169137
True       2191
Name: 가성비, dtype: int64

In [40]:
df['추천'] = df['추천'].map(lambda x : True if x else False)
df.추천.value_counts()

False    167976
True       3352
Name: 추천, dtype: int64

In [44]:
df['출장'] = df['출장'].map(lambda x : True if x else False)
df.출장.value_counts()

False    169554
True       1774
Name: 출장, dtype: int64

In [47]:
df['조식'] = df['조식'].map(lambda x : True if x else False)
df.조식.value_counts()

False    163733
True       7595
Name: 조식, dtype: int64

In [48]:
df['무료'] = df['무료'].map(lambda x : True if x else False)
df.무료.value_counts()

False    170003
True       1325
Name: 무료, dtype: int64

In [49]:
df['저렴'] = df['저렴'].map(lambda x : True if x else False)
df.저렴.value_counts()

False    167630
True       3698
Name: 저렴, dtype: int64

In [50]:
df.head(3)

,hotel,star,review,가성비,추천,출장,조식,무료,저렴,감정,sum,helpful
0,호텔 8 Hours,5,깨끗하고 위치도 좋고 구성비 좋았습니다 다만 비품이 거의 없다고 보면 돼서 챙겨가야...,False,False,False,False,False,False,2,0,0
1,호텔 8 Hours,4,너무 좋아요 잘 머물다 갑니다,False,False,False,False,False,False,2,0,0
2,호텔 8 Hours,5,적당히 잘 쉬다 가요,False,False,False,False,False,False,2,0,0

In [51]:
df.rename(columns = {'감정' : 'attitude'}, inplace = True)
df.head(3)

,hotel,star,review,가성비,추천,출장,조식,무료,저렴,attitude,sum,helpful
0,호텔 8 Hours,5,깨끗하고 위치도 좋고 구성비 좋았습니다 다만 비품이 거의 없다고 보면 돼서 챙겨가야...,False,False,False,False,False,False,2,0,0
1,호텔 8 Hours,4,너무 좋아요 잘 머물다 갑니다,False,False,False,False,False,False,2,0,0
2,호텔 8 Hours,5,적당히 잘 쉬다 가요,False,False,False,False,False,False,2,0,0

In [52]:
df.to_csv('data/가성비호텔_도움_라벨링.csv', encoding='utf-8-sig')

In [1]:
import pandas as pd

In [30]:
df = pd.read_csv('data/가성비호텔_도움_라벨링.csv')
df.head()

,index,hotel,star,review,가성비,추천,출장,조식,무료,저렴,attitude,sum,helpful
0,0,호텔 8 Hours,5,깨끗하고 위치도 좋고 구성비 좋았습니다 다만 비품이 거의 없다고 보면 돼서 챙겨가야...,False,False,False,False,False,False,2,0,0
1,1,호텔 8 Hours,4,너무 좋아요 잘 머물다 갑니다,False,False,False,False,False,False,2,0,0
2,2,호텔 8 Hours,5,적당히 잘 쉬다 가요,False,False,False,False,False,False,2,0,0
3,3,호텔 8 Hours,5,매번 요때마다 매우 만족합니다 번창하세요,False,False,False,False,False,False,2,0,0
4,4,호텔 8 Hours,5,너무 편하고 좋았어요,False,False,False,False,False,False,2,0,0

In [32]:
import numpy as np

In [33]:
positive = df[np.logical_and(df.attitude == 2,df.helpful == 1)]

In [34]:
positive.head()

,index,hotel,star,review,가성비,추천,출장,조식,무료,저렴,attitude,sum,helpful
9,9,호텔 8 Hours,5,좋아요 추천합니아 깔끔해요 오 오 오오오 로션 없어요,False,True,False,False,False,False,2,1,1
27,27,호텔 8 Hours,5,들어가는 골목만 잘 선택하면 저렴한 가격에 좋아요,False,False,False,False,False,True,2,1,1
34,34,호텔 8 Hours,4,서울역 가기 전에 간단하게 머물고 가기 좋아요 굽이굽이 골목길 안에 있어서 좀 걱정...,False,False,False,False,False,True,2,1,1
43,43,호텔 8 Hours,5,저렴하고 친절하시고 좋아요,False,False,False,False,False,True,2,1,1
48,48,호텔 8 Hours,5,주인분께서 굉장히 친절하시고 숙소 전체적인 분위기가 밝아서 편안히 쉬다 갈 수 있었...,False,False,False,False,True,False,2,1,1

In [35]:
positive['index'].groupby(positive['hotel']).count().sort_values(ascending=False)[:10]

hotel
페어필드 바이 메리어트 서울         827
신라스테이 구로                447
도미인 서울강남                368
[반짝특가] 신라스테이 구로         357
호텔 피제이 명동               305
골드리버 호텔                 268
영등포 GMS 호텔              254
노보텔 앰배서더 동대문 호텔&레지던스    218
인터컨티넨탈 서울 코엑스           217
더 스테이트 선유 호텔            211
Name: index, dtype: int64

In [41]:
df_top = df['index'].groupby(df['hotel']).count().sort_values(ascending=False)[:101]
df_top.head()

hotel
페어필드 바이 메리어트 서울    12944
영등포 GMS 호텔          5960
신라스테이 구로            5031
[반짝특가] 신라스테이 구로     2348
스탠포드 호텔 서울          2329
Name: index, dtype: int64

In [42]:
df_top.to_csv('data/가성비호텔_top100.csv', encoding='utf-8-sig')