In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('data/리뷰크롤링최종합본.csv')
df.head()

        hotel  star                                             review
0  호텔 8 Hours     5  깨끗하고 위치도 좋고 구성비 좋았습니다 다만 비품이 거의 없다고 보면 돼서 챙겨가야...
1  호텔 8 Hours     4                                   너무 좋아요 잘 머물다 갑니다
2  호텔 8 Hours     5                                        적당히 잘 쉬다 가요
3  호텔 8 Hours     5                             매번 요때마다 매우 만족합니다 번창하세요
4  호텔 8 Hours     5                                        너무 편하고 좋았어요

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171670 entries, 0 to 171669
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   hotel   171670 non-null  object
 1   star    171670 non-null  int64
 2   review  171328 non-null  object
dtypes: int64(1), object(2)
memory usage: 3.9+ MB

In [4]:
df.dropna(axis=0,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171328 entries, 0 to 171669
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   hotel   171328 non-null  object
 1   star    171328 non-null  int64
 2   review  171328 non-null  object
dtypes: int64(1), object(2)
memory usage: 5.2+ MB

In [5]:
df['추천'] = 0
df['힐링'] = 0
df['뷰'] = 0
df['주차'] = 0
df['위치'] = 0
df['깨끗'] = 0
df['시설'] = 0
df['친절'] = 0

In [6]:
# 인덱스 재배열
df.reset_index(inplace=True)

In [7]:
eval_list = ['추천','힐링','뷰','주차','위치','깨끗','시설','친절']

for eval in eval_list:
    for i in range(0,len(df)):
        df[eval][i] = eval in df.review[i]

<ipython-input-7-d8dfce58a9bf>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[eval][i] = eval in df.review[i]
C:\Users\Sumin\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [8]:
len(df)

171328

In [9]:
df.review[0]

'깨끗하고 위치도 좋고 구성비 좋았습니다 다만 비품이 거의 없다고 보면 돼서 챙겨가야 합니다'

In [10]:
df.head()

,index,hotel,star,review,추천,힐링,뷰,주차,위치,깨끗,시설,친절
0,0,호텔 8 Hours,5,깨끗하고 위치도 좋고 구성비 좋았습니다 다만 비품이 거의 없다고 보면 돼서 챙겨가야...,False,False,False,False,True,True,False,False
1,1,호텔 8 Hours,4,너무 좋아요 잘 머물다 갑니다,False,False,False,False,False,False,False,False
2,2,호텔 8 Hours,5,적당히 잘 쉬다 가요,False,False,False,False,False,False,False,False
3,3,호텔 8 Hours,5,매번 요때마다 매우 만족합니다 번창하세요,False,False,False,False,False,False,False,False
4,4,호텔 8 Hours,5,너무 편하고 좋았어요,False,False,False,False,False,False,False,False

In [11]:
df['attitude'] = 0

In [12]:
df['sum'] = df['추천'] + df['힐링'] + df['뷰'] + df['주차'] + df['위치']  + df['깨끗'] + df['시설'] + df['친절']
df.head()

,index,hotel,star,review,추천,힐링,뷰,주차,위치,깨끗,시설,친절,attitude,sum
0,0,호텔 8 Hours,5,깨끗하고 위치도 좋고 구성비 좋았습니다 다만 비품이 거의 없다고 보면 돼서 챙겨가야...,False,False,False,False,True,True,False,False,0,2
1,1,호텔 8 Hours,4,너무 좋아요 잘 머물다 갑니다,False,False,False,False,False,False,False,False,0,0
2,2,호텔 8 Hours,5,적당히 잘 쉬다 가요,False,False,False,False,False,False,False,False,0,0
3,3,호텔 8 Hours,5,매번 요때마다 매우 만족합니다 번창하세요,False,False,False,False,False,False,False,False,0,0
4,4,호텔 8 Hours,5,너무 편하고 좋았어요,False,False,False,False,False,False,False,False,0,0

In [13]:
# 감정라벨링
for i in range(0,len(df)):
    if df.star[i] >= 4:
        df['attitude'][i] = 2
    elif df.star[i] == 3:
        df['attitude'][i] = 1
    else : 
        df['attitude'][i] = 0

<ipython-input-13-37cbaeee275b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['attitude'][i] = 2
<ipython-input-13-37cbaeee275b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['attitude'][i] = 1
<ipython-input-13-37cbaeee275b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['attitude'][i] = 0

In [ ]:
df.head()

In [19]:
df.to_csv('data/키워드_호텔_라벨링.csv',index=False, encoding='utf-8-sig')

In [18]:
df.groupby(['sum']).count()

,index,hotel,star,review,추천,힐링,뷰,주차,위치,깨끗,시설,친절,attitude
sum,,,,,,,,,,,,,
0,96607,96607,96607,96607,96607,96607,96607,96607,96607,96607,96607,96607,96607
1,48886,48886,48886,48886,48886,48886,48886,48886,48886,48886,48886,48886,48886
2,19568,19568,19568,19568,19568,19568,19568,19568,19568,19568,19568,19568,19568
3,5133,5133,5133,5133,5133,5133,5133,5133,5133,5133,5133,5133,5133
4,981,981,981,981,981,981,981,981,981,981,981,981,981
5,144,144,144,144,144,144,144,144,144,144,144,144,144
6,9,9,9,9,9,9,9,9,9,9,9,9,9