# 카카오 로컬 API
- 도로명주소로부터 위도, 경도 정보 구하기

In [3]:
#!/usr/bin/env python3
#-*- codig: utf-8 -*-
import sys
import requests
import json

client_id = "1bcx0zx39c"
client_secret = "JT9p1gj4DDdy9DgsPPWktahaBqw1FhmDTGMBfKKd"
url="https://naveropenapi.apigw.ntruss.com/sentiment-analysis/v1/analyze"

headers = {
    "X-NCP-APIGW-API-KEY-ID": client_id,
    "X-NCP-APIGW-API-KEY": client_secret,
    "Content-Type": "application/json"
}

content = "싸늘하다. 가슴에 비수가 날아와 꽂힌다."
data = {
  "content": content
}

print(json.dumps(data, indent=4, sort_keys=True))
response = requests.post(url, data=json.dumps(data), headers=headers)
rescode = response.status_code
if(rescode == 200):
    print (response.text)
else:
    print("Error : " + response.text)

{
    "content": "\uc2f8\ub298\ud558\ub2e4. \uac00\uc2b4\uc5d0 \ube44\uc218\uac00 \ub0a0\uc544\uc640 \uaf42\ud78c\ub2e4."
}
{"document":{"sentiment":"negative","confidence":{"negative":99.3676,"positive":0.0077638607,"neutral":0.62463653}},"sentences":[{"content":"싸늘하다.","offset":0,"length":5,"sentiment":"negative","confidence":{"negative":0.9961359,"positive":2.2740211E-4,"neutral":0.0036366575},"highlights":[{"offset":0,"length":4}]},{"content":" 가슴에 비수가 날아와 꽂힌다.","offset":5,"length":17,"sentiment":"negative","confidence":{"negative":0.927976,"positive":7.042612E-4,"neutral":0.07131973},"highlights":[{"offset":1,"length":15}]}]}

In [43]:
df = pd.read_excel('data/coupang_sentence_Data_pm.xlsx')
df

       index                                            content  Unnamed: 2
0          0                              2021년 2월 15일 최근 도정입니다         NaN
1          1                          2월 26일 배송 받았고 처음 밥해 먹었습니다         NaN
2          2                                 평들이 좋길래 믿고 구매해봤습니다         NaN
3          3                                         만 너무 실망입니다         NaN
4          4                 우선 쌀알들이 금가있고 쌀눈이 깨져있고 누렇고 난리도 아닙니다         NaN
...      ...                                                ...         ...
19795  19795  그것도안 20 키로나 되는 사를 마트에서 사가지고 오면 들고 오기가 힘든데 이렇게 ...         NaN
19796  19796                         쌀 자체도 마음에 들고 배송도 마음에 들었습니다         NaN
19797  19797   매일 그날 도정한 쌀 사다가 먹었는데이번에 구매하려니 품절이라 곰곰 쌀을 구매해보았어요         NaN
19798  19798          기존에 먹던 쌀이랑 크게 차이 없고 좀 오래 보온해놔도 색이 변하지 않네요         NaN
19799  19799                                                NaN         NaN

[19800 rows x 3 columns]

In [44]:
data = df[3960:7919]
data

      index                                            content  Unnamed: 2
3960   3960                                작년쌀 최근도정으로 보낸건 아니겠죠         NaN
3961   3961                                           쌀은 먹을만해요         NaN
3962   3962                             훌륭하진 않지만 싼맛에 샀으니 이해합니다         NaN
3963   3963                                       몇번 먹어본 제품이네요         NaN
3964   3964                                    담엔 비싼것도 먹어봐야겠어요         NaN
...     ...                                                ...         ...
7914   7914    쌀 맛은 잘 몰라요 사실\n그냥 10키로 짜리로 늘 사는데 가격 적당한거 사는편이예요         NaN
7915   7915  비싼거 사서 먹어도 좋은건지 잘 몰라서\n오늘 저녁 해먹었는데 나쁜점은 없는 것 같...         NaN
7916   7916  이번이 2번째 구매\n철원 오*쌀\n이*쌀\n번갈아 가면서 먹었었는데\n작년 햅쌀 ...         NaN
7917   7917                            • 수분기 충분하고 도정일 최근이라 좋네요         NaN
7918   7918  • 인터넷에서 구매한 쌀 치고는 괜찮은 편이 쌀 좋은거 같아요\n지난번 쌀은 선물받...         NaN

[3959 rows x 3 columns]

In [45]:
data['content'].astype(str)

3960                                  작년쌀 최근도정으로 보낸건 아니겠죠
3961                                             쌀은 먹을만해요
3962                               훌륭하진 않지만 싼맛에 샀으니 이해합니다
3963                                         몇번 먹어본 제품이네요
3964                                      담엔 비싼것도 먹어봐야겠어요
                              ...
7914      쌀 맛은 잘 몰라요 사실\n그냥 10키로 짜리로 늘 사는데 가격 적당한거 사는편이예요
7915    비싼거 사서 먹어도 좋은건지 잘 몰라서\n오늘 저녁 해먹었는데 나쁜점은 없는 것 같...
7916    이번이 2번째 구매\n철원 오*쌀\n이*쌀\n번갈아 가면서 먹었었는데\n작년 햅쌀 ...
7917                              • 수분기 충분하고 도정일 최근이라 좋네요
7918    • 인터넷에서 구매한 쌀 치고는 괜찮은 편이 쌀 좋은거 같아요\n지난번 쌀은 선물받...
Name: content, Length: 3959, dtype: object

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3959 entries, 0 to 3958
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   level_0     3959 non-null   int64
 1   index       3959 non-null   int64
 2   content     3959 non-null   object
 3   Unnamed: 2  0 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 123.8+ KB

In [49]:
data.to_excel('data/sentiment.xlsx')

In [52]:
data2 = pd.read_excel('data/sentiment.xlsx')
data2

      Unnamed: 0                                            content
0              0                                작년쌀 최근도정으로 보낸건 아니겠죠
1              1                                           쌀은 먹을만해요
2              2                             훌륭하진 않지만 싼맛에 샀으니 이해합니다
3              3                                       몇번 먹어본 제품이네요
4              4                                    담엔 비싼것도 먹어봐야겠어요
...          ...                                                ...
3954        3954    쌀 맛은 잘 몰라요 사실\n그냥 10키로 짜리로 늘 사는데 가격 적당한거 사는편이예요
3955        3955  비싼거 사서 먹어도 좋은건지 잘 몰라서\n오늘 저녁 해먹었는데 나쁜점은 없는 것 같...
3956        3956  이번이 2번째 구매\n철원 오*쌀\n이*쌀\n번갈아 가면서 먹었었는데\n작년 햅쌀 ...
3957        3957                            • 수분기 충분하고 도정일 최근이라 좋네요
3958        3958  • 인터넷에서 구매한 쌀 치고는 괜찮은 편이 쌀 좋은거 같아요\n지난번 쌀은 선물받...

[3959 rows x 2 columns]

In [53]:
a = data['content'][0] + data['content'][1] + data['content'][2] + data['content'][3]
a

'작년쌀 최근도정으로 보낸건 아니겠죠쌀은 먹을만해요훌륭하진 않지만 싼맛에 샀으니 이해합니다몇번 먹어본 제품이네요'

In [68]:
contents= []

for i in range(0, 3956, 4):
    if i < 3957:
        content = data['content'][i] + data['content'][i+1] + data['content'][i+2] + data['content'][i+3]

    else: 
        content = data['content'][i] + data['content'][i+1] + data['content'][i+2]
    contents.append(content)
#print(contents)

In [69]:
len(contents)

989

In [70]:
con_df = pd.DataFrame(contents, columns=['content'])
con_df

                                               content
0    작년쌀 최근도정으로 보낸건 아니겠죠쌀은 먹을만해요훌륭하진 않지만 싼맛에 샀으니 이해...
1    담엔 비싼것도 먹어봐야겠어요비교가 안되서\n암튼 햅쌀이라니 감사합니다우선 쌀이나 품...
2    오프라인 보다는 확실히 싼 것 같긴하네요코로나로 집에서 쭉 밥만 해먹으니이삼개월만에...
3    가격 쏘쏘하고 밥 맛은 좋고 앞으로 계속 구입할듯별 다섯개중에서 한개 뺀 이유는 쌀...
4    찰기가 많고 윤기가 나요사실 대한민국에서 특등이라는쌀 사먹어봤는데 고소한맛 전혀 없...
..                                                 ...
984  대체적으로 다 좋아서 먹다보니\n어느새 이쌀만 계속사서먹고있네요쌀은 역시 메뚜기쌀\...
985  쌀사면서 관리를 잘해서 그런가 여름에도 쌀벌레 한번도 생긴적이 없네요쿰쿰한냄새도 나...
986  벌써 몇년째 이용중인지 모르겠네요가격도 적당하고 맛도 좋아요쌀은 도정일자 차이로 밥...
987  결국 가장 믿을건 도정일자거든요집도착 4일전일로 도정했다써있길래 신나서 밥했는데\n...
988  밥 지으실 때 평소보다 물양을 약간만 (소주잔 1잔양 정도)줄여서 하시면 좋을 듯 ...

[989 rows x 1 columns]

## 현진 코드

In [77]:
data = pd.read_excel('data/sentiment.xlsx')
data

         0                                                  1
0        0                                작년쌀 최근도정으로 보낸건 아니겠죠
1        1                                           쌀은 먹을만해요
2        2                             훌륭하진 않지만 싼맛에 샀으니 이해합니다
3        3                                       몇번 먹어본 제품이네요
4        4                                    담엔 비싼것도 먹어봐야겠어요
...    ...                                                ...
3954  3954    쌀 맛은 잘 몰라요 사실\n그냥 10키로 짜리로 늘 사는데 가격 적당한거 사는편이예요
3955  3955  비싼거 사서 먹어도 좋은건지 잘 몰라서\n오늘 저녁 해먹었는데 나쁜점은 없는 것 같...
3956  3956  이번이 2번째 구매\n철원 오*쌀\n이*쌀\n번갈아 가면서 먹었었는데\n작년 햅쌀 ...
3957  3957                            • 수분기 충분하고 도정일 최근이라 좋네요
3958  3958  • 인터넷에서 구매한 쌀 치고는 괜찮은 편이 쌀 좋은거 같아요\n지난번 쌀은 선물받...

[3959 rows x 2 columns]

In [78]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3959 entries, 0 to 3958
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3959 non-null   int64
 1   1       3958 non-null   object
dtypes: int64(1), object(1)
memory usage: 62.0+ KB

In [86]:
data.dropna(axis=0)

         0                                                  1
0        0                                작년쌀 최근도정으로 보낸건 아니겠죠
1        1                                           쌀은 먹을만해요
2        2                             훌륭하진 않지만 싼맛에 샀으니 이해합니다
3        3                                       몇번 먹어본 제품이네요
4        4                                    담엔 비싼것도 먹어봐야겠어요
...    ...                                                ...
3954  3954    쌀 맛은 잘 몰라요 사실\n그냥 10키로 짜리로 늘 사는데 가격 적당한거 사는편이예요
3955  3955  비싼거 사서 먹어도 좋은건지 잘 몰라서\n오늘 저녁 해먹었는데 나쁜점은 없는 것 같...
3956  3956  이번이 2번째 구매\n철원 오*쌀\n이*쌀\n번갈아 가면서 먹었었는데\n작년 햅쌀 ...
3957  3957                            • 수분기 충분하고 도정일 최근이라 좋네요
3958  3958  • 인터넷에서 구매한 쌀 치고는 괜찮은 편이 쌀 좋은거 같아요\n지난번 쌀은 선물받...

[3958 rows x 2 columns]

In [87]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3959 entries, 0 to 3958
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3959 non-null   int64
 1   1       3958 non-null   object
dtypes: int64(1), object(1)
memory usage: 62.0+ KB

In [89]:
data.to_excel('sentiment2.xlsx')

In [93]:
data = pd.read_excel('sentiment2.xlsx')
data

      Unnamed: 0                                                  1
0              0                                작년쌀 최근도정으로 보낸건 아니겠죠
1              1                                           쌀은 먹을만해요
2              2                             훌륭하진 않지만 싼맛에 샀으니 이해합니다
3              3                                       몇번 먹어본 제품이네요
4              4                                    담엔 비싼것도 먹어봐야겠어요
...          ...                                                ...
3953        3954    쌀 맛은 잘 몰라요 사실\n그냥 10키로 짜리로 늘 사는데 가격 적당한거 사는편이예요
3954        3955  비싼거 사서 먹어도 좋은건지 잘 몰라서\n오늘 저녁 해먹었는데 나쁜점은 없는 것 같...
3955        3956  이번이 2번째 구매\n철원 오*쌀\n이*쌀\n번갈아 가면서 먹었었는데\n작년 햅쌀 ...
3956        3957                            • 수분기 충분하고 도정일 최근이라 좋네요
3957        3958  • 인터넷에서 구매한 쌀 치고는 괜찮은 편이 쌀 좋은거 같아요\n지난번 쌀은 선물받...

[3958 rows x 2 columns]

In [94]:
data.reset_index()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3958 entries, 0 to 3957
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3958 non-null   int64
 1   1           3958 non-null   object
dtypes: int64(1), object(1)
memory usage: 62.0+ KB

In [95]:
data

      Unnamed: 0                                                  1
0              0                                작년쌀 최근도정으로 보낸건 아니겠죠
1              1                                           쌀은 먹을만해요
2              2                             훌륭하진 않지만 싼맛에 샀으니 이해합니다
3              3                                       몇번 먹어본 제품이네요
4              4                                    담엔 비싼것도 먹어봐야겠어요
...          ...                                                ...
3953        3954    쌀 맛은 잘 몰라요 사실\n그냥 10키로 짜리로 늘 사는데 가격 적당한거 사는편이예요
3954        3955  비싼거 사서 먹어도 좋은건지 잘 몰라서\n오늘 저녁 해먹었는데 나쁜점은 없는 것 같...
3955        3956  이번이 2번째 구매\n철원 오*쌀\n이*쌀\n번갈아 가면서 먹었었는데\n작년 햅쌀 ...
3956        3957                            • 수분기 충분하고 도정일 최근이라 좋네요
3957        3958  • 인터넷에서 구매한 쌀 치고는 괜찮은 편이 쌀 좋은거 같아요\n지난번 쌀은 선물받...

[3958 rows x 2 columns]

In [97]:
del data['Unnamed: 0']

In [99]:
##01. 감성분석할 데이터 로드
# 여기서 data = pd.read_excel 해서 시트1의 자기 파트 불러오기
#data = pd.read_excel('train_data/coupang_naverapi_data.xlsx',header=None)
# 문장 합치기
qqq =''
for i in range(1, len(data)+1 ):
    if i %4 == 0 : #4개씩 합치는 것으로 지정함 : 개인이 회당 천자 넘지 않도록 설정
        ppp = '||-||'
    else:
        ppp = ' '
    qqq = qqq + data[1][i-1] + ppp    

# 4개 단위 분리
p = qqq.split('||-||')
len(p) # 991세트 생성

990

In [106]:
for i in range(len(p)):
    if len(p[i]) > 1000:
        print(i)

In [103]:
##02. api이용 감성 파악 
sentence, sentiment, = [],[]

# content 지정
for n in range(len(p)): # 감성분석할 데이터 세트 
    content = p[n] # 세트 넣기

    # 딕셔너리 생성
    data = { "content": content }

    # print(json.dumps(data, indent=4, sort_keys=True))
    result = json.loads(str(requests.post(url, data=json.dumps(data), headers=headers).text))

    for i in range( len(result['sentences']) ):
          sentence.append( result['sentences'][i]['content'] )
          sentiment.append( result['sentences'][i]['sentiment'] )

#데이터 프레임 생성
total_result = pd.DataFrame({'문장':sentence, '감성':sentiment })
total_result

                                                     문장        감성
0                                   작년쌀 최근도정으로 보낸건 아니겠죠   neutral
1                                              쌀은 먹을만해요  positive
2                                훌륭하진 않지만 싼맛에 샀으니 이해합니다  positive
3                                          몇번 먹어본 제품이네요   neutral
4                                       담엔 비싼것도 먹어봐야겠어요  negative
...                                                 ...       ...
4592               사실\n그냥 10키로 짜리로 늘 사는데 가격 적당한거 사는편이예요  positive
4593   비싼거 사서 먹어도 좋은건지 잘 몰라서\n오늘 저녁 해먹었는데 나쁜점은 없는 것 ...  negative
4594                            • 수분기 충분하고 도정일 최근이라 좋네요  positive
4595                 • 인터넷에서 구매한 쌀 치고는 괜찮은 편이 쌀 좋은거 같아요  positive
4596  \n지난번 쌀은 선물받아 먹었는데 밥솥이 오래되기도 했지만 통 윤기가 없고 밥알이 ...  negative

[4597 rows x 2 columns]

In [105]:
total_result.to_excel('data/sentiment_3960_7918.xlsx')